
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;



:root {

  

  --color-primary: oklch(15.907% 0.00002 271.152);
  --color-secondary: oklch(1 0.0148 248);
  --color-header: oklch(8.467% 0.00001 271.152 / 0.75);
  --color-border: oklch(1 0.0148 248 / 0.25);
  --color-table-first-color: oklch(4% 0.00001 271.152);
  --color-table-seccond-color: oklch(20% 0.00002 271.152);
  --color-table-border: oklch(52.431% 0.00006 271.152);
  --color-background: oklch(4% 0.00001 271.152);
  --color-muted-background: oklch(24% 0.00001 271.152);
 
  
  --primary: var(--color-primary);
  --secondary: var(--color-secondary);
  --header: var(--color-header);
  --border: var(--color-border);
  --background: var(--color-background);
  --muted-background: var(--color-muted-background);
  --table-border: var(--color-table-border);
  --table-first-color: var(--color-table-first-color);
  --table-seccond-color: var(--color-table-seccond-color);

  color: var(--secondary);
  background-color: var(--primary);
  scrollbar-color: var(--primary);

}

::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}


::-webkit-scrollbar-track {
background-color: var(--muted-background);
}

::-webkit-scrollbar-thumb {
  background: var(--primary);
  border-radius: 6px;
  border: 1px solid var(--header);
}

::-webkit-scrollbar-corner {
  background: var(--background);
}

/*На раздумье*/
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}